@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: hsl(216, 62%, 10%);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
